*{
    box-sizing: border-box;
    font-size: 25px;
    padding: 0;
    margin:0;
    color: white ;
    text-align: center;
    font-family:Geneva;
}body{
    background: url(https://i2-prod.birminghammail.co.uk/incoming/article16183993.ece/ALTERNATES/s1200/0_abs-1850926_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}.left{
    position: absolute;
    top : 20px;
    left :60px;
} .mid{
    width: 46%;
    margin: 29px auto ;
}.right{
    position : absolute;
    top : 43px;
    right:34px;
}.navbar li{
    display: inline-block;
}.navbar li a{
    text-decoration: none ;
    padding: 48px;
}.navbar li a:hover,.navbar li a.active{
    text-decoration: underline ;
    color: gray;
}.left img:hover,.form-group:hover{
    box-shadow:rgb(255, 249, 249) -3px -3px 3px;
}.left img{
    width: 140px;
    filter: invert(90%);
}.btn{
    background-color: rgb(43, 32, 32);
    padding: 4px 14px;
    margin:0px 9px;
    border:2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}.btn:hover{
    background-color: grey;  
}.left div{
    line-height: 19px;
    font-size: 26px;
}.container{
    border: 2px solid white;
    margin: 155px 1030px;
    padding: 75px;
    width:33%;
    border-radius: 28px;
}.form-group input{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black ;
    margin: 11px auto;
    border-radius: 8px;
}.container button{
    display: block;
    width: 508px;
    margin: 20px auto;
}